@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lugrasimo&display=swap');

body{
  background-color: #383838;
  color: white;
}
.bigRow{
  width: 93vw;
  height: 42vh;
  direction: flex;
  border-style: dashed;
  margin:2vw;
  border-radius: 25px;
  padding: 1vh;
}

.colBorder{
  border-style: dashed;
  border-color: rgb(132, 132, 132);
  border-radius: 25px ;
  
}

.colBorder textarea{
  background-color: rgb(46, 46, 46);
}

.addmargin
{
  margin: 2vw;
}